/* Règle globale pour la mise en boîte */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  /* Styles principaux pour le container */
  .container {
    max-width: 500px;
    width: 90%; /* Rend la largeur responsive */
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    height: 100vh; /* Adapté pour s'assurer que le container englobe tout son contenu */
  }
  
  /* Styles pour les inputs */
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Conteneur de mot de passe avec bouton d'aide */
  .passwordContainer {
    position: relative;
  }
  
  .helpButton {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  /* En-tête de la page */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Disposition du formulaire */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles spécifiques pour les types d'input email et password */
  input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Boutons principaux */
  button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Effet de survol sur les boutons */
  button:hover {
    background-color: gray;
  }
  
  /* Conteneur des termes et conditions */
  .terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Liens dans les termes et conditions */
  .link {
    color: gray;
    text-decoration: none;
  }
  
  /* Effet de survol sur les liens */
  .link:hover {
    text-decoration: underline;
  }
  
  /* Texte central pour les utilisateurs existants */
  .centerText {
    text-align: center;
    margin-top: 20px;
  }
  
  .socialButtons {
    display: flex;
    justify-content: center; /* Centre les boutons sociaux horizontalement */
    gap: 20px; /* Espace entre les boutons */
    margin-top: 30px; /* Espace au-dessus des boutons sociaux */
    width: 100%; /* Assure que le conteneur prend toute la largeur */
  }
  
  .socialButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .socialButton:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  
  .socialButton img {
    width: 24px;
    height: 24px;
  }  


  
  /* Requêtes médias pour la responsivité */
  @media (max-width: 600px) {
    .container {
      padding: 10px; /* Padding plus petit pour les petits appareils */
      width: 100%; /* Utilise toute la largeur pour les très petits écrans */
    }
  
    h1 {
      font-size: 20px; /* Texte plus petit sur les petits écrans */
    }
  
    button {
      padding: 8px 16px; /* Boutons plus petits sur les petits écrans */
    }
  }
  