/* Page Home css */

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo2 {
    position: absolute;
    top: 0;
    left: 0;
}
  
.logo1 {
    position: absolute;
    top: 0;
    right: 0;
}
  
.button-container {
    margin-top: 30px;
    width :110%
}
  
.button-container button {
    width: calc(100%);
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9e9e9e;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
  
.button-container button:hover {
    background-color: #1a1717;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
